:root {
    --color-blue10: #ccdeff;
    --color-blue30: #99bdff;
    --color-blue50: #0059ff;
    --color-blue70: #003699;
    --color-blue90: #001233;

    --color-white: #ffffff;
    --color-black: #000000;
    
    --color-gray05: #f2f2f2;
    --color-gray10: #e6e6e6;
    --color-gray20: #cccccc;
    --color-gray70: #4d4d4d;
    --color-gray80: #333333;
    --color-gray90: #1a1a1a;

    /* Base Size Unit*/
    --su: 1px;
    /* --size-scale: 1.61803398875; */
    --size-scale: 1.5;

    --sizeXXS: calc(var(--sizeXS) / var(--size-scale));
    --sizeXS: calc(var(--sizeS) / var(--size-scale));
    --sizeS: calc(var(--sizeM) / var(--size-scale));
    --sizeM: calc(16 * var(--su));
    --sizeL: calc(var(--sizeM) * var(--size-scale));
    --sizeXL: calc(var(--sizeL) * var(--size-scale));
    --sizeXXL: calc(var(--sizeXL) * var(--size-scale));
}

* {
    font-family: "Open Sans";
    font-size: var(--sizeM);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: var(--sizeXXL);
}

h2 {
    font-size: var(--sizeXL);
}

h3 {
    font-size: var(--sizeL);
}

h4,
h5,
h6 {
    font-size: var(--sizeM);
}

.fontXXS {
    font-size: var(--sizeXXS);
}

.fontXS {
    font-size: var(--sizeXS);
}

.fontS {
    font-size: var(--sizeS);
}

.fontM {
    font-size: var(--sizeM);
}

.fontL {
    font-size: var(--sizeL);
}

.fontXL {
    font-size: var(--sizeXL);
}

.insetXS {
    padding: var(--sizeXS);
}

.insetS {
    padding: var(--sizeS);
}

.insetM {
    padding: var(--sizeM);
}

.insetL {
    padding: var(--sizeL);
}

.insetXL {
    padding: var(--sizeXL);
}

.squishXS {
    padding: var(--sizeXS);
    padding-top: var(--sizeXXS);
    padding-top: var(--sizeXXS);
}

.squishS {
    padding: var(--sizeS);
    padding-top: var(--sizeXS);
    padding-top: var(--sizeXS);
}

.squishM {
    padding: var(--sizeM);
    padding-top: var(--sizeS);
    padding-top: var(--sizeS);
}

.squishL {
    padding: var(--sizeL);
    padding-top: var(--sizeM);
    padding-top: var(--sizeM);
}

.squishXL {
    padding: var(--sizeXL);
    padding-top: var(--sizeL);
    padding-top: var(--sizeL);
}

.squishXXL {
    padding: var(--sizeXXL);
    padding-top: var(--sizeXL);
    padding-top: var(--sizeXL);
}