@import url(page-home.css);
@import url(page-edit.css);
@media (min-aspect-ratio: 1/2) {
    :root {
        --pageHeight: 90dvh;
        --pageWidth: calc((var(--pageHeight) / 16) * 9);
    }
}

@media (max-aspect-ratio: 1/2) {
    :root {
        --pageWidth: 90dvw;
        --pageHeight: calc((var(--pageWidth) / 9) * 16);
    }
}

:root {
    --back-hover: var(--color-gray05);
}

#frame-wrapper {
    width: 100%;
    min-height: 100dvh;
    height: fit-content;
    display: grid;
    gap: var(--sizeM) 0;
    /* grid-auto-rows: var(--sizeXXL) var(--pageHeight); */
    grid-auto-rows: max-content var(--pageHeight);
    justify-content: center;
    background-color: var(--color-gray90);
    padding-top: var(--sizeM);
    padding-bottom: var(--sizeM);
}

.page-title {
    font-size: var(--sizeXL);
    text-align: left;
    width: var(--pageWidth);
    text-align: left;
    color: white;
    margin-top: var(--sizeM);
}

.page {
    aspect-ratio: 9/16;
    width: var(--pageWidth);
    height: var(--pageHeight);
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

.page-body {
    width: 100%;
    height: 100%;
}

.nav-bar {
    border-bottom: var(--su) solid var(--color-gray20);
    display: flex;
    height: fit-content;
    align-items: center;

    height: var(--sizeXL);
    padding: var(--sizeXS);
    padding-bottom: calc(var(--sizeXS) - var(--su));
}

.back-arrow {
    user-select: none;
    aspect-ratio: 1/1;
    height: var(--sizeL);
    border-radius: 50%;
}

.back-arrow:hover {
    background-color: var(--back-hover);
}