.border-blue10 {
    border-color: var(--color-blue10);
}

.border-blue30 {
    border-color: var(--color-blue30);
}

.border-blue50 {
    border-color: var(--color-blue50);
}

.border-blue70 {
    border-color: var(--color-blue70);
}

.border-blue90 {
    border-color: var(--color-blue90);
}

.border-red10 {
    border-color: var(--color-red10);
}

.border-red30 {
    border-color: var(--color-red30);
}

.border-red50 {
    border-color: var(--color-red50);
}

.border-red70 {
    border-color: var(--color-red70);
}

.border-red90 {
    border-color: var(--color-red90);
}

.border-orange10 {
    border-color: var(--color-orange10);
}

.border-orange30 {
    border-color: var(--color-orange30);
}

.border-orange50 {
    border-color: var(--color-orange50);
}

.border-orange70 {
    border-color: var(--color-orange30);
}

.border-orange90 {
    border-color: var(--color-orange50);
}
