@media (prefers-color-scheme: dark) {
    .icon-arrow-long-left {
        background-image: url(/icons/dark/arrow-long-left.svg);
    }

    .icon-pencil {
        background-image: url(/icons/dark/pencil.svg);
    }

    .icon-plus {
        background-image: url(/icons/dark/plus.svg);
    }

    .icon-archive-box-arrow-down {
        background-image: url(/icons/dark/archive-box-arrow-down.svg);
    }

    .icon-archive-box-x-mark {
        background-image: url(/icons/dark/archive-box-x-mark.svg);
    }

    .icon-floppy-disk {
        background-image: url(/icons/dark/floppy-disk.svg);
    }

    .icon-document-plus {
        background-image: url(/icons/dark/document-plus.svg);
    }
}

@media (prefers-color-scheme: light) {
    .icon-arrow-long-left {
        background-image: url(/icons/light/arrow-long-left.svg);
    }

    .icon-pencil {
        background-image: url(/icons/light/pencil.svg);
    }

    .icon-plus {
        background-image: url(/icons/light/plus.svg);
    }

    .icon-archive-box-arrow-down {
        background-image: url(/icons/light/archive-box-arrow-down.svg);
    }


    .icon-archive-box-x-mark {
        background-image: url(/icons/light/archive-box-x-mark.svg);
    }

    .icon-floppy-disk {
        background-image: url(/icons/light/floppy-disk.svg);
    }

    .icon-document-plus {
        background-image: url(/icons/light/document-plus.svg);
    }
}


.icon {
    aspect-ratio: 1/1;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
}