.home-log-card {
    width: 100%;
    height: var(--sizeXXL);

    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: var(--sizeXS);
    margin-top: var(--sizeM);
    border-bottom-width: var(--sizeXXS);
    border-bottom-style: solid;
}

.home-log-title {
    font-size: var(--sizeM);
    font-weight: bold;

}

.home-log-edit-btn {
    aspect-ratio: 1/1;
    height: var(--sizeL);
    width:  var(--sizeL);

    border-radius: var(--sizeXXS);
}

.home-log-edit-btn:hover {
    background-color: var(--color-gray20);
}