.edit-section {
    display: flex;
    flex-direction: column;
    gap: var(--sizeM) 0;
    align-items: start;

    padding-top: var(--sizeS);
    padding-bottom: var(--sizeS);
    border-bottom: var(--sizeXXS) solid;
}

@media (prefers-color-scheme: dark) {
    .edit-section {
        border-color: var(--color-white);
    }
}

@media (prefers-color-scheme: light) {
    .edit-section {
        border-color: var(--color-gray20);
    }
}



.edit-section-header {
    width: fit-content;
    padding: 0;
    font-weight: bold;
    font-size: var(--sizeL);
}

.edit-field-section {
    display: flex;
    flex-direction: column;
}

.edit-field-label {
    margin-top: var(--sizeM);
    margin-bottom: var(--sizeM);
}