.edit-section {
    display: flex;
    flex-direction: column;
    gap: var(--sizeM) 0;
    align-items: start;

    padding-top: var(--sizeS);
    padding-bottom: var(--sizeS);
    border-bottom: var(--sizeXXS) solid;
}

@media (prefers-color-scheme: dark) {
    .edit-section {
        border-color: var(--color-white);
    }

    input[type="text"] {
        background-color: var(--color-gray80);
        border-color: var(--color-gray20);
    }

    input::placeholder {
        color: var(--color-gray20);
    }

    select {
        background-color: var(--color-gray80);
        border-color: var(--color-gray20);
    }
}

@media (prefers-color-scheme: light) {
    .edit-section {
        border-color: var(--color-gray20);
    }

    input[type="text"] {
        background-color: var(--color-gray10);
        border-color: var(--color-gray20) !important;
    }

    input::placeholder {
        color: var(--color-gray50);
    }

    select {
        background-color: var(--color-gray10);
        border-color: var(--color-gray20) !important;
    }
}

input::placeholder {
    height: fit-content;
    vertical-align: bott;
}

.edit-section-header {
    width: fit-content;
    padding: 0;
    font-weight: bold;
    font-size: var(--sizeL);
}

input[type="text"] {
    box-shadow: none;
    border: none;

    border-style: solid;
    border-width: 2px;
    border-radius: var(--sizeXXS);
    width: 100%;

    padding: var(--sizeXS);
    padding-top: var(--sizeXXS);
    padding-bottom: var(--sizeXXS);

    text-align: start;
    vertical-align: bottom;
}

select {
    border-style: solid;
    border-width: 2px;
    border-radius: var(--sizeXXS);
}

.edit-field-section {
    display: flex;
    flex-direction: column;
}

.edit-field-label {
    margin-top: var(--sizeM);
    margin-bottom: var(--sizeM);
}