@import url(/css/icons.css);
@import url(/css/borders.css);

@import url(/css/navbar.css);

:root {
    --color-none: rgba(0, 0, 0, 0);

    --color-blue10: #ccdeff;
    --color-blue30: #99bdff;
    --color-blue50: #0059ff;
    --color-blue70: #003699;
    --color-blue90: #001233;

    --color-orange10: #ffeecc;
    --color-orange30: #ffcc66;
    --color-orange50: #ffaa00;
    --color-orange70: #996600;
    --color-orange90: #332200;

    --color-green10: hsl(120, 60%, 90%);
    --color-green30: hsl(120, 60%, 70%);
    --color-green50: hsl(120, 60%, 50%);
    --color-green70: hsl(120, 60%, 30%);
    --color-green90: hsl(120, 60%, 10%);

    --color-red10: hsl(0, 100%, 90%);
    --color-red30: hsl(0, 100%, 70%);
    --color-red50: hsl(0, 100%, 50%);
    --color-red70: hsl(0, 100%, 30%);
    --color-red90: hsl(0, 100%, 10%);

    --color-white: #ffffff;
    --color-black: #000000;

    --color-gray05: #f2f2f2;
    --color-gray10: #e6e6e6;
    --color-gray20: #cccccc;
    --color-gray50: #808080;
    --color-gray70: #4d4d4d;
    --color-gray80: #333333;
    --color-gray90: #1a1a1a;

    /* Base Size Unit*/
    --golden-ratio: 1.61803398875;

    --su: 1px;
    --size-scale: 1.5;

    --sizeXXS: calc(var(--sizeXS) / var(--size-scale));
    --sizeXS: calc(var(--sizeS) / var(--size-scale));
    --sizeS: calc(var(--sizeM) / var(--size-scale));
    --sizeM: calc(16 * var(--su));
    --sizeL: calc(var(--sizeM) * var(--size-scale));
    --sizeXL: calc(var(--sizeL) * var(--size-scale));
    --sizeXXL: calc(var(--sizeXL) * var(--size-scale));
}

* {
    font-family: "Open Sans";
    font-size: var(--sizeM);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box !important;
    vertical-align: text-bottom;
    color: var(--color-text);
}

body {
    padding: var(--sizeM);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: var(--color-white);
    }

    body {
        background-color: var(--color-gray90);
    }

    button {
        background-color: var(--color-gray80);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-text: var(--color-black);
    }

    body {
        background-color: var(--color-white);
    }

    button {
        background-color: var(--color-gray10);
        outline-color: var(--color-gray20);
    }

    button:hover {
        outline-color: var(--color-gray70);
    }
}

button {
    border: none;
    padding: var(--sizeXXS);
    outline-width: 2px;
    outline-style: solid;
    border-radius: var(--sizeXXS);
    width: fit-content;
    height: fit-content;
}

h1 {
    font-size: var(--sizeXXL);
}

h2 {
    font-size: var(--sizeXL);
}

h3 {
    font-size: var(--sizeL);
}

h4,
h5,
h6 {
    font-size: var(--sizeM);
}

input:valid {
    border-color: var(--color-green30) !important;
}

input:invalid {
    border-color: var(--color-red30) !important;
}